<div class="container section">
    <h1>Skonfiguruj {{upper "ciasteczko!"}}</h1>
</div>


    <div class="container section">
        <h2>Wybierz bazę:</h2>
        {{#each bases}}
            <button  onclick="location.href='/select-base/{{this.[0]}}'" class="btn btn-warning"> Ciastko {{this.[0]}}: {{this.[1]}}zł</li></button>
        {{/each}}
    </div>
    <div class="container section">
        <h2>Wybierz dodatek:</h2>
        {{#each addons}}
            {{#if (isNotOnArray @root.cookie.addons this.[0])}}
                <button  onclick="location.href='/select-addon/{{this.[0]}}'" class="btn btn-warning">{{this.[0]}}: {{this.[1]}}zł</li></button>
            {{/if}}
        {{/each}}
    </div>
    {{#if cookie.base}}
    <div class="container section">
        {{> cookie-preview }}
    </div>
    <div class="container section">
        {{> addons-list }}
        <button  onclick="location.href='/order/summary'" class="btn btn-warning btn-lg">Zamów!</li></button>
    </div>
    {{else}}
        <div class="container section">
            <p>Aby zobaczyć podgląd ciastka, wybierz jego bazę.</p>
        </div>
    {{/if}}


