<div class="container">
    <h1>Skonfiguruj {{upper "ciasteczko!"}}</h1>
</div>

<div class="container">
    <div class="container">
        <h2>Wybierz bazę:</h2>
        {{#each bases}}
            <button  onclick="location.href='/select-base/{{this.[0]}}'" class="btn btn-warning"> Ciastko {{this.[0]}}: {{this.[1]}}zł</li></button>
        {{/each}}
    </div>
    <div class="container">
        <h2>Wybierz dodatek:</h2>
        {{#each addons}}
            <button  onclick="location.href='/views/configurator/add-ons'" class="btn btn-warning">{{this.[0]}}: {{this.[1]}}zł</li></button>
        {{/each}}
    </div>
    {{#if cookie.base}}
    <div class="container">
        {{> cookie-preview }}
    </div>
    <div class="container">
        {{> addons-list }}
    </div>
    {{else}}
        <p>Aby zobaczyć podgląd ciastka, wybierz jego bazę.</p>
    {{/if}}
</div>

