<h2>{{clients.name}}</h2>

<div class="container">
    <table>
        <thead>
        <tr>
            <th>
                Email:
            </th>
            <th>
                Imię:
            </th>
            <th>
                Data następnego kontaktu:
            </th>
        </tr>
        </thead>
        <tbody>
            <tr>
                <th>
                    <a href="mailto:{{this.mail}}" target="_blank">{{this.mail}}</a>
                </th>
                <td>
                    <a href="/client/{{this.id}}">{{this.name}}</a>
                </td>
                <td>
                    {{this.next}}
                </td>
            </tr>
        </tbody>
    </table>
</div>