<h2>Klient: {{client.name}}</h2>

<div class="container">
    <table>
        <thead>
        <tr>
            <th>
                Email:
            </th>
            <th>
                Data następnego kontaktu:
            </th>
        </tr>
        </thead>
        <tbody>
            <tr>
                <th>
                    <a href="mailto:{{client.mail}}" target="_blank">{{client.mail}}</a>
                </th>
                <td>
                    {{client.next}}
                </td>
            </tr>
        {{#if client.notes}}
            <tr>
                <th>
                    Notatka:
                </th>
                <td>
                    {{client.notes}}
                </td>
            </tr>
        {{/if}}
        </tbody>
    </table>
</div>