<div class="container">
    <h2 class="gray-header">Klient: {{client.name}}</h2>
</div>
<div class="container one-customer">
    <table>
        <tbody>
        <tr>
            <th class="gray-header">
                Email:
            </th>
            <td>
                <a href="mailto:{{client.mail}}" target="_blank">{{client.mail}}</a>
            </td>
        </tr>
        <tr>
            <th class="gray-header">
                Data następnego kontaktu:
            </th>
            <td>
                {{client.next}}
            </td>
        </tr>
        {{#if client.notes}}
            <tr>
                <th class="gray-header">
                    Notatka:
                </th>
                <td>
                    {{client.notes}}
                </td>
            </tr>
        {{/if}}
        </tbody>
    </table>
    <a class="btn btn-success btn-lg large-button" href="/client">Powrót do listy klientów.</a>
    <a class="btn btn-outline-success btn-lg large-button" href="http://localhost:3000/
client/form/edit/{{client.id}}">Edytuj!</a>
</div>