extends layout

block content
	h1= title
	if show
		form(method='POST')
			p Jaka jest Twoja ulubiona pora roku?
				ul
				each item in data
						li
							input(type='radio' name='quiz' value=item._id)
							label=item.title
				input(type='submit' value='Zagłosuj')
				p Aby zobaczyć wyniki oddaj głos.
	else
		h2 Już zagłosowałeś w tej ankiecie!
		p Wyniki:
		ul
			each item in data
				li #{item.title} - #{item.vote} - (#{Math.round(item.vote/sum*100)}%)
	p Oddano #{sum} głosów.